body{text-align: center;}

button{
    border: 2px solid transparent;
    outline: 2px solid transparent;
    border-radius: 5px;
    background: rgb(113, 4, 163);
    color: #fff;
    padding: 20px;

}